.index-header{
    padding-top:20px;
}
.direction span{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #2B2B38;
}
.categories{
    display: flex;
    padding: 20px 0;
    margin: 0 5px;
    overflow: hidden;
}
.category{
    margin: 10px 8px;
}
.category img{
    max-width:100%;
}
.category h6{
    font-size: 14px;
    color: #2b2b38 ;
    font-weight: 500;
    padding: 10px 0;
}
.content{
    display: flex;
    justify-content: space-between;
}
.product-container{
    width: 25%;
}
.product-container:hover{
    border: 1px solid #ddd;
}
.product-incontent{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 20px;
}
.product-image{
    width: 100%;
    height: fit-content;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}
.product-image img{
    width: 100%;
    object-fit: cover;
    height: fit-content;
}
.product-info{
    display: flex;
    flex-direction: column;
}
.images{
width: 90%;
}
.images img{
    width: 98%;
    padding: 0px 40px 0px 0px;
}
.infos{
    width: 100%;
}
.Rate{
    display: flex;
    align-items: center;
    margin: 40px 0;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px 0;
}
form label{
    font-weight: 600;
}
form select{
    width: 100%;
    height: 54px;
    border: 1px solid #2B2B38;
    margin-bottom:10px;
    padding: 10px;
}
form input[type='button']{
    width: 100%;
    height: 54px;
    color: #fff;
    font-weight: 500;
    background-color:#2B2B38;
    transition:all 300ms ease-in-out;
}
form input[type='button']:hover{
    background-color: #3c3c4b;
}
.basket-product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    border: 1px solid #ccc;
    padding: 20px 40px;
}
.basket-product img{
    width: 200px;
}